<!DOCTYPE html>
<html>
<head>
  <title>AvaliacaoDesenvolvedor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container title-wrapper">
  <div class="row">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  <br><br>
  <footer>
    <p><em>Feito Por <a href="https://br.linkedin.com/in/cpalha" target="_blank">Carlos.</a></em></p>
    <p><em>Veja no <a href="https://github.com/carlosep/avaliacao_desenvolvedor" target="_blank">Github.</a></em></p>
  </footer>
</div>
</body>
</html>
